@charset "UTF-8";
html {
  font-size: 62.5%; }

body {
  background: #f9f8f6; }

header {
  text-align: center; }
  header #top_logo {
    margin-top: 20px;
    margin-bottom: 10px; }
    @media screen and (min-width: 550px) {
      header #top_logo {
        float: left;
        margin: 30px 0; } }
  header .pc_nav ul {
    float: right;
    margin-top: 10%; }
    header .pc_nav ul li {
      display: inline-block;
      list-style: none;
      float: left;
      margin-left: 20px; }
    header .pc_nav ul .margin {
      margin-left: 10px; }
  @media screen and (max-width: 550px) {
    header .pc_nav {
      display: none; } }
  header .sp_nav .sp_icon img {
    margin: 0 5px; }
  header .sp_nav .sp_navi_li {
    width: 200px;
    position: absolute;
    top: 50px;
    right: 10px;
    background: white;
    text-align: right;
    z-index: 10; }
    header .sp_nav .sp_navi_li li {
      list-style: none; }
  @media screen and (min-width: 550px) {
    header .sp_nav {
      display: none; } }

.owl {
  width: 95%;
  margin: 0 auto;
  margin-top: 10px; }
  @media screen and (min-width: 550px) {
    .owl {
      width: 100%;
      margin: 0; } }

.owl-theme .owl-dots {
  text-align: left; }
  .owl-theme .owl-dots .owl-dot span {
    width: 35px;
    height: 3px;
    border-radius: 0; }
  .owl-theme .owl-dots .owl-dot.active span {
    background: #9d1a2d; }
  .owl-theme .owl-dots .owl-dot:hover span {
    background: #9d1a2d; }

#contents {
  padding: 0; }
  @media screen and (max-width: 550px) {
    #contents {
      width: 95%; } }
  #contents .main {
    text-align: center; }
    #contents .main .sp_title {
      margin: 10px auto; }
    #contents .main .sp_title2 {
      margin: 20px 0; }
    #contents .main .items {
      text-align: left;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap; }
      #contents .main .items .item {
        width: 42%;
        margin: 1px;
        background: white;
        padding: 10px; }
        #contents .main .items .item img {
          width: 100%;
          height: auto; }
        #contents .main .items .item p {
          margin-bottom: 10px; }
    #contents .main .pc_title {
      margin: 20px auto; }
    #contents .main .pc_title2 {
      margin: 20px auto; }
    @media screen and (min-width: 550px) {
      #contents .main .sp_title, #contents .main .sp_title2 {
        display: none; } }
    @media screen and (max-width: 550px) {
      #contents .main .pc_title, #contents .main .pc_title2 {
        display: none; } }
    #contents .main .guide {
      text-align: left;
      display: flex;
      -webkit-justify-content: space-around;
      justify-content: space-around;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap; }
      #contents .main .guide .guide_box {
        box-sizing: border-box;
        width: 100%;
        margin: 2px;
        background: white;
        padding: 20px; }
        @media screen and (min-width: 550px) {
          #contents .main .guide .guide_box {
            width: 49%;
            margin: 0 1px; } }
        #contents .main .guide .guide_box h2 {
          color: #887f69;
          font-size: 24px;
          font-size: 2.4rem;
          font-weight: 700; }
        #contents .main .guide .guide_box p {
          margin-bottom: 15px; }
        #contents .main .guide .guide_box span {
          color: #887f69;
          font-weight: 700;
          margin-bottom: 10px; }
  @media screen and (min-width: 550px) {
    #contents .main {
      width: 72%;
      margin-right: 2%; }
      #contents .main .items .item {
        box-sizing: border-box;
        width: 32%; } }
  #contents .side .pc_search {
    position: absolute;
    top: 10px;
    right: 0;
    bottom: 0;
    left: 10px; }
  @media screen and (max-width: 550px) {
    #contents .side .pc_search {
      display: none; } }
  #contents .side .search {
    position: relative;
    width: 100%;
    height: 100px;
    background: white;
    margin: 20px auto; }
    #contents .side .search #form {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      margin: auto;
      width: 90%;
      background: #f9f8f6;
      border: none; }
    #contents .side .search .search_form {
      position: relative; }
    #contents .side .search .icon {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 10%;
      margin: auto 0; }
  @media screen and (min-width: 550px) {
    #contents .side .search {
      height: 90px;
      margin: 0;
      margin-bottom: 10px; } }
  #contents .side .side_ber {
    width: 100%;
    margin: 0 auto;
    text-align: center; }
    #contents .side .side_ber .title_box {
      position: relative;
      width: 100%;
      height: 50px;
      background: #887f69;
      margin-top: 10px; }
      #contents .side .side_ber .title_box .moji {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 5%;
        margin: auto 0; }
      #contents .side .side_ber .title_box .yajirusi {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 5%;
        margin: auto 0; }
    #contents .side .side_ber .white_base {
      position: relative;
      width: 100%;
      height: 50px;
      background: white;
      border-bottom: 1px solid #f9f8f6; }
      #contents .side .side_ber .white_base p {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 5%;
        line-height: 50px; }
      #contents .side .side_ber .white_base img {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 5%;
        margin: auto 0; }
    #contents .side .side_ber .white_base_2 {
      width: 100%;
      height: 150px;
      background: white; }
      @media screen and (min-width: 550px) {
        #contents .side .side_ber .white_base_2 {
          height: 260px; } }
      #contents .side .side_ber .white_base_2 .about_box {
        width: 50%;
        margin-top: 10px; }
        #contents .side .side_ber .white_base_2 .about_box img {
          width: 90%; }
      #contents .side .side_ber .white_base_2 .more_box {
        box-sizing: border-box;
        text-align: left;
        width: 50%;
        padding: 5px;
        margin-top: 5px; }
        #contents .side .side_ber .white_base_2 .more_box p {
          margin-bottom: 10px; }
      @media screen and (max-width: 550px) {
        #contents .side .side_ber .white_base_2 .about_box, #contents .side .side_ber .white_base_2 .more_box {
          float: left; } }
      @media screen and (min-width: 550px) {
        #contents .side .side_ber .white_base_2 .about_box, #contents .side .side_ber .white_base_2 .more_box {
          width: 100%; }
          #contents .side .side_ber .white_base_2 .about_box p, #contents .side .side_ber .white_base_2 .more_box p {
            padding: 0 5px; }
        #contents .side .side_ber .white_base_2 .more_box img {
          display: block;
          margin: 10px auto 0 auto; } }

.to_top {
  position: relative;
  width: 90%;
  height: 80px;
  border-bottom: 1px solid #887f69;
  margin: 0 auto; }
  .to_top img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto; }
    @media screen and (min-width: 550px) {
      .to_top img {
        margin: auto 0 auto auto; } }

footer {
  width: 80%;
  text-align: center;
  margin: 20px auto; }
  footer .copy {
    color: #b0b0b0; }
    footer .copy span {
      text-transform: uppercase; }

.pankuzu {
  background: #e2ddd4;
  position: relative;
  width: 100%;
  height: 40px;
  margin: 10px auto;
  border-radius: 2px; }
  @media screen and (min-width: 550px) {
    .pankuzu {
      margin: 0;
      margin-bottom: 10px; } }
  .pankuzu ul li {
    list-style: none;
    float: left;
    margin-left: 10px;
    line-height: 40px; }
    .pankuzu ul li a {
      text-decoration: none;
      color: #887f69;
      text-transform: uppercase; }
      .pankuzu ul li a img {
        margin-right: 5px; }

.sp_listtop {
  width: 100%;
  margin: 10px 0; }

.pc_listtop {
  width: 100%; }

@media screen and (max-width: 550px) {
  .pc_listtop {
    display: none; } }
@media screen and (min-width: 550px) {
  .sp_listtop {
    display: none; } }
.backnext {
  width: 100%;
  margin: 30px 0;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }
  .backnext a {
    text-decoration: none; }
  .backnext .back {
    text-align: center;
    width: 140px;
    height: 50px;
    background: #887f69; }
    .backnext .back p {
      color: white;
      text-transform: uppercase;
      font-size: 2rem;
      line-height: 50px;
      font-weight: bold;
      letter-spacing: .1rem; }
  .backnext .next {
    text-align: center;
    width: 140px;
    height: 50px;
    background: #887f69; }
    .backnext .next p {
      color: white;
      text-transform: uppercase;
      font-size: 2rem;
      line-height: 50px;
      font-weight: bold;
      letter-spacing: .1rem; }

.pc_saikin {
  margin-bottom: 20px; }

.sp_saikin {
  margin-bottom: 20px; }

@media screen and (min-width: 550px) {
  .sp_saikin {
    display: none; } }
@media screen and (max-width: 550px) {
  .pc_saikin {
    display: none; } }
#main_page {
  background: white;
  box-sizing: border-box;
  padding: 40px 50px;
  margin-bottom: 30px;
  display: table; }
  #main_page .item_title {
    height: 45px;
    border-bottom: solid 1px #e2ddd4;
    margin-bottom: 15px; }
    #main_page .item_title h2 {
      font-size: 1.4rem;
      font-weight: bold; }
      @media screen and (min-width: 550px) {
        #main_page .item_title h2 {
          float: left; } }
    #main_page .item_title p {
      color: #e2ddd4; }
      @media screen and (min-width: 550px) {
        #main_page .item_title p {
          float: right; } }
  @media screen and (min-width: 550px) {
    #main_page #main_item {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: -webkit-between;
      justify-content: -moz-between;
      justify-content: between;
      align-items: stretch;
      align-content: stretch; } }
  @media screen and (min-width: 550px) {
    #main_page #main_item #slide {
      width: 10%;
      flex-grow: 8; } }
  #main_page #main_item #slide img {
    display: block; }
  @media screen and (min-width: 550px) {
    #main_page #main_item #slide_list {
      width: 10%;
      flex-grow: 2;
      display: flex;
      justify-content: center;
      align-items: stretch;
      align-content: stretch;
      flex-wrap: wrap; } }
  #main_page #main_item #slide_list li {
    width: 45%;
    list-style: none;
    display: inline-block;
    margin: 0;
    margin-left: 5%;
    margin-bottom: 2%; }
    #main_page #main_item #slide_list li img {
      display: block;
      width: 100%;
      cursor: pointer; }
  #main_page #main_item .slide_list:before {
    content: "";
    display: block;
    padding-top: 100%; }

@media screen and (max-width: 550px) {
  #main_page {
    width: 100%;
    padding: 0; }
    #main_page .item_title {
      text-align: left;
      height: 60px; }
      #main_page .item_title h2 {
        margin: 0;
        margin-top: 20px;
        letter-spacing: .5px;
        font-weight: bold; }
      #main_page .item_title p {
        margin: 0;
        font-size: 1.2rem; }
    #main_page #main_item #slide_list {
      margin-top: 10px; }
      #main_page #main_item #slide_list li {
        width: 19%;
        margin: 0; } }
.description {
  margin-top: 20px;
  border-top: 1px solid #e2ddd4;
  text-align: left; }
  .description h3 {
    color: #887f69;
    font-size: 1.4rem;
    font-family: "Helvetica";
    font-weight: 700;
    margin: 20px 0;
    text-transform: uppercase;
    letter-spacing: .3px; }
  .description table {
    width: 100%; }
    .description table th {
      height: 36px;
      background: #f9f8f6;
      border: 1px solid #e2ddd4;
      text-align: center;
      color: #887f69;
      padding: 0;
      font-size: 1.2rem; }
    .description table td {
      height: 36px;
      background: white;
      border: 1px solid #e2ddd4;
      text-align: center;
      padding: 0; }
      .description table td input {
        margin: 0; }
  .description .max {
    width: 100%; }
    @media screen and (max-width: 550px) {
      .description .max {
        padding: 0; } }
    .description .max .price {
      margin: 20px 20px 0 0;
      border-top: 1px solid #e2ddd4;
      border-bottom: 1px solid #e2ddd4;
      text-align: center;
      height: 6rem;
      position: relative; }
      @media screen and (max-width: 550px) {
        .description .max .price {
          margin-right: 0; } }
      .description .max .price .p {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 2rem;
        width: 10rem;
        margin: auto;
        margin-left: 0;
        text-align: left; }
      .description .max .price p {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 20rem;
        height: 4rem;
        margin: auto;
        font-style: italic; }
        .description .max .price p span {
          color: #e86c9e;
          font-size: 2rem;
          font-weight: 600; }
        .description .max .price p span:before {
          content: "¥";
          color: #e86c9e;
          font-size: 1.4rem; }
    .description .max .quan {
      height: 6rem;
      position: relative;
      border-bottom: 1px solid #e2ddd4;
      margin-right: 20px; }
      @media screen and (max-width: 550px) {
        .description .max .quan {
          margin: 0; } }
      .description .max .quan .q {
        text-transform: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 2rem;
        width: 10rem;
        margin: auto;
        margin-left: 0; }
      .description .max .quan input {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 30%;
        width: 15rem;
        height: 3rem;
        margin: auto 0; }
    .description .max .cart {
      margin-top: 20px; }
      @media screen and (max-width: 550px) {
        .description .max .cart {
          width: 80%;
          display: block;
          margin: 0 auto;
          margin-top: 20px; } }

.desc_title {
  border-bottom: 2px solid #887f69;
  height: 6rem; }
  @media screen and (max-width: 550px) {
    .desc_title {
      height: 4rem; } }
  .desc_title h3 {
    margin-top: 30px; }

.item_desc .subtitle {
  margin: 20px 0;
  color: #887f69;
  font-size: 1.4rem;
  font-family: "Helvetica";
  font-weight: 700; }

.size_desc table {
  margin: 20px 0 50px 0; }
  .size_desc table th {
    border: 1px solid #e2ddd4;
    background: #f9f8f6;
    width: 16rem; }
  .size_desc table td {
    color: #887f69;
    font-size: 1.2rem;
    text-align: left;
    padding-left: 10px; }

@media screen and (max-width: 550px) {
  .size_desc table th {
    width: 9rem;
    height: 6rem; }
  .size_desc table td {
    padding: 0 15px; } }

/*# sourceMappingURL=index.css.map */
